.countryImgCont {
  border: 1px solid #ced4da;
  pointer-events: none;
}

.countryImgCont img {
  display: block;
  width: 40px;
}

.searchCont {
  padding: 20px;
  background: white;
  border-radius: 5px;
}
